<script setup lang="ts">
import { useFetch } from '@vueuse/core'


const { data, isFetching, error } = useFetch('https://api.thedogapi.com/v1/images/search?limit=20&order=Desc')


</script>

<template>
  <div v-if="isFetching === false" class="flex flex-col w-full h-full p-4">
    <span class="font-bold text-xl">Dogs</span>
    <div class="ContainerMinHieght grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 border-2 rounded mt-2 gap-12 p-2">
      <router-link :to="`/show/${id}`" class="relative border rounded-md p-1 shadow hover:shadow-2xl cursor-pointer"
        v-for="({ id, url }, index) in JSON.parse(`${data}`)" :key="id">
        <img :src="url" :alt="id" class="h-96 w-full object-cover rounded-md" />
        <div class="Overlay" />
      </router-link>
    </div>
  </div>
</template>

<style scoped>
.ContainerMinHieght {
  min-height: 90vh;
}

.Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgb(66, 66, 66);
}
</style>
