﻿<script setup lang="ts">
import { useFetch } from '@vueuse/core'

const { data, isFetching, error } = useFetch('https://api.thedogapi.com/v1/images/SkvZgx94m')
</script>

<template>
    <div v-if="isFetching === false" class="flex flex-col w-full h-full p-4">
        <router-link to="/" class="font-bold text-xl">back</router-link>
        <img :src="data.url" :alt="data.id" class="h-96 w-full object-cover rounded-md" />
        <!-- add image details details -->
    </div>
</template>

<style scoped>
.ContainerMinHieght {
    min-height: 90vh;
}
</style>
